div {
  box-sizing: border-box;
}

.shadow-highlight {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

@keyframes shadowOut {
  0% {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  }

  100% {
    box-shadow: 0;
  }
}

@keyframes shadowIn {
  100% {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  }

  0% {
    box-shadow: 0;
  }
}
